@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Teko:wght@500&display=swap');
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}


nav {
    padding: 10px 0;
    text-align: center;
    a {
        color: #6b6b6b;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Chivo Mono', monospace;
        letter-spacing: -.2px;
        transition: 0.3s;

        &:hover {
            color: black;
            font-weight: bolder;
            transition: 0.3s;
        }
        &.active { // For the active page link
            color: black;
            font-weight: bolder;
            transition: 0.3s;
        }
    }
}
